.navbar {
  height: 65px;
  width: document.body.clientWidth;
  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {

}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  margin-left: 40px;
  font-size: 95%;
}
