.navbar {
  height: 65px;
  width: document.body.clientWidth;
  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 1.2em;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  margin-left: 40px;
  font-size: 95%;
  cursor: pointer;
}

.navbar a,
.navbar .link {
  color: black;
  transition: color 250ms;
}

.navbar a:hover,
.link:hover {
  color: #2ecc71;
}
